* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* border: 2px solid black; */
}

.border {
        /* border: 1px solid; */
        border-radius: 5px;
        box-shadow: 5px 5px 15px gray;
}

.bd-rd img {
        border-radius: 5px 5px 0 0;
}

@font-face {
        src: url(../font/cardo/Cardo-Bold.ttf);
        font-family: cardo;
}

/* .font-family1 {
        font-family: cardo;
} */

@font-face {
        font-family: lato;
        src: url(../font/Lato2OFL/Lato2OFL/Lato-Light.ttf);
}

/* .font-family2 {
        font-family: lato;
} */

h2,
h3 {
        font-family: cardo;
}

p {
        font-family: lato;
}

.bg-white {
        background-color: #e9e7e7;
        color: #232323;
}

.bg-black {
        background-color: #232323;
        color: #e9e7e7;
}

.container {
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;
}

.row {
        display: flex;
        flex-wrap: wrap;
}

.col40 {
        width: 100%;
}

.col60 {
        width: 100%;
}

.col30 {
        width: 100%;
}

.col70 {
        width: 100%;
}

.col30 {
        width: 100%;
}

.col20 {
        width: 100%;
}

.col80 {
        width: 100%;
}

.col25 {
        width: 100%;
}

.jc-sp-bt {
        justify-content: space-between;
}

.align-center {
        align-items: center;
}

.hamburger {
        display: none;
        cursor: pointer;
}

.bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: rgb(9, 9, 9);
}

/* ------------------------------------------------------ */
.menu {
        display: flex;
        list-style: none;
}

.menu li {
        padding: 40px 15px;

}

.menu li a {
        text-decoration: none;
        color: #232323;
}

.nav-btn {
        padding: 40px 10px;

}

.nav-btn input {
        color: #232323;
        background-color: #e9e7e7;
        width: 120px;
        height: 30px;
        border: 2px solid #232323;
        border-radius: 5px;
}

.header-main {
        padding: 20px 0;
}


.header-text {
        width: 100%;
        text-align: center;
}

.header-text h2 {
        font-size: 55px;
        padding: 10px 0;
        line-height: 60px;
}

.header-text p {
        font-size: 15px;
        padding: 10px 0;
}

.header-btn {
        padding: 20px 0;
}

.header-btn input {
        width: 150px;
        height: 30px;
        color: #e9e7e7;
        background-color: #232323;
        border: none;
}

.header-img img {
        width: 100%;
}

/* --------------------------------------------------------- */
.sec2-text {
        width: 90%;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
}

.sec2-text h2 {
        font-size: 40px;
        padding: 10px 0;
}

.sec2-text p {
        font-size: 15px;
        padding: 10px 0;
}

.sec2-btn {
        padding: 10px;
}

.sec2-btn input {
        width: 150px;
        height: 30px;
        color: #e9e7e7;
        background-color: #232323;
        border: 2px solid #e9e7e7;
        border-radius: 5px;
}


/* ------------------------------------------------------------------ */
.sec3 {
        padding: 20px 0;
}



.sec3-img img {
        width: 100%;
}

.sec3-text {
        padding: 10px 0;
}

.sec3-text h2 {
        font-size: 40px;
        padding: 10px 0;
}

.sec3-text p {
        font-size: 15px;
        padding: 10px 0;
}

/* -------------------------------------------------- */
.sec4 {
        padding: 10px 0;
}

.sec4-text {
        width: 100%;
        text-align: center;
        margin: 0 auto;
}

.sec4-text i {
        font-size: 40px;
}

.sec4-text h2 {
        font-size: 60px;
        padding: 10px 0;
        line-height: 80px;
}

.sec4-text h3 {
        font-size: 20px;
        padding: 10px 0;
}

.sec4-text h2 u {
        font-style: italic;
}

/* ---------------------------------------------------- */
.sec5 {}

.sec5-img-1 {
        padding: 20px;
}

.sec5-img-1 img {
        width: 100%;
}

.sec5-col2 {
        padding: 20px;
}

.sec5-img-2 {
        width: 100%;
}

.sec5-img-2 img {
        width: 100%;
}

.sec5-col2-row2 {
        padding: 15px 0;
}

.sec5-text-1 {
        width: 40%;
}

.sec5-text-2 {
        width: 60%;
}

.sec5-text-1 h2 {
        font-size: 28px;
        width: 90%;
}

.sec5-text-2 p {
        font-size: 15px;
        text-align: justify;
        padding: 10px 0;
}

.arrow {
        text-align: right;
}

.arrow i {
        font-size: 50px;
}

/* ---------------------------------------------------- */
.sec6 {
        padding: 20px;
}

.sec6-1 {
        width: 100%;
        margin: 0 auto;
}

.sec6-text-1 h2 {
        font-size: 50px;
}

.sec6-text-2 {
        padding: 10px 0;
}

.sec6-text-2 h3 {
        font-size: 25px;
        padding: 5px 0;
}

.sec6-text-2 p {
        font-size: 15px;
        padding: 10px 0;
}

.sec6-img img {
        width: 100%;
}

/* ------------------------------------------------------- */

.sec7 {
        padding: 20px 0;

}

.sec7-text {
        width: 100%;

}

.sec7-textone {
        padding: 50px 0;

}

.sec7-text-1 {
        text-align: center;
        line-height: 70px;
}

.sec7-text-2 {
        border-top: 2px solid#232323;
        padding-top: 50px;
}

.sec7-text-2,
.sec7-text-3,
.sec7-text-4,
.sec7-text-5,
.sec7-text-6 {
        border-bottom: 2px solid #232323;
        padding: 10px 0;

}

.sec7-text .bdr-top {
        /* border-top: 2px solid #232323; */
}

.bdr-btm {
        /* border-bottom: 2px solid #232323; */
}

.sec7-text-1 h2 {
        font-size: 55px;
}

.sec7-img img {
        width: 100%;
}

/* ------------------------------------------------- */
.sec8 {
        padding: 20px 0;
}

.sec8-text-1 {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 20px 0;
}

.sec8-text-1 h2 {
        font-size: 55px;
        line-height: 60px;
}

.box {
        width: 100%;
        border: 1px solid #232323;
        border-radius: 5px;
        padding: 30px;
        margin: 20px 0;
}

.sec8-icon {
        text-align: center;
        padding: 10px 0;
}

.sec8-icon i {
        font-size: 60px;
        padding: 10px 13px 10px 13px;
        color: #e9e7e7;
        background-color: #232323;
        border-radius: 50%;

}

.sec8-text-2 {
        text-align: center;
        padding: 10px 0;
}

.sec8-text-2 h3 {
        font-size: 20px;
        padding: 10px 0;
}

.sec8-text-2 p {
        font-size: 15px;
        padding: 10px 0;
}

/* ---------------------------------------------------- */
.sec9 {
        padding: 20px 0;
}

.sec9-input {
        width: 100%;
}

.sec9-input input {
        width: 100%;
        margin: 10px 0;
        height: 50px;
        border: 2px solid #232323;
        border-radius: 5px;
        padding-left: 10px;
}

.sec9-input textarea {
        width: 100%;
        border: 2px solid #232323;
        border-radius: 5px;
        padding-left: 10px;
        margin: 10px 0;
}

.sec9-btn input {
        width: 100%;
        height: 50px;
        color: #e9e7e7;
        background-color: #232323;
        border: none;
        margin: 30px 0;
}

.sec9-input h2 {
        font-size: 70px;
        padding-bottom: 10px;
}

.sec9-img img {
        width: 100%;
}

/* ---------------------------------------------- */
.footer {
        padding: 40px 0;
}

.bg-grey {
        background-color: #c4c4c4;
        color: #232323;
}

.footer-text-1 h2 {
        font-size: 50px;
        /* text-align: center; */
}

.footer-text-2 h3 {
        font-size: 40px;
        /* text-align: center; */
}

.footer-text-3 {
        padding: 50px 0;
}

.footer-text-3 p {
        font-size: 20px;
}

.copyright {
        padding: 20px 0;
}

.copyright p {
        font-size: 20px;
        text-align: center;
}

/* ---------------------------------- */

/* .sec6-text-1 {
        overflow-x: hidden;
} */

/* .sec6-img {
        overflow-x: hidden;
} */