@media (min-width: 576px) {
        .container {
                width: 540px;
        }

        .sec6 {
                overflow: hidden;
        }

        .col40 {
                width: 100%;
        }

        .col60 {
                width: 100%;
        }

        .col30 {
                width: 100%;
        }

        .col70 {
                width: 100%;
        }

        .col30 {
                width: 100%;
        }

        .col20 {
                width: 100%;
        }

        .col80 {
                width: 100%;
        }

        .header-main {
                padding: 20px 0;
        }

        .header-text {
                width: 100%;
                text-align: center;
        }

        .header-text h2 {
                line-height: 60px;
                font-size: 65px;
        }

        .menu li {
                padding: 40px 15px;
        }

        /* .header-img img {
                width: 100%;
        } */

        /* .sec2-text {
                width: 90%;
                margin: 0 auto;
                padding: 20px;
                text-align: center;
        } */

        .sec3 {
                padding: 20px 0;
        }

        .sec4 {
                padding: 10px 0;
        }

        .sec4-text {
                width: 100%;
        }

        .sec4-text h2 {
                /* padding: 10px 0; */
        }

        .sec4-text h2 {
                line-height: 80px;
                font-size: 65px;
        }

        /* .sec5-img-2 img {
                width: 100%;
        } */
        .sec5-img-2 {
                width: 100%;
        }

        .sec6 {
                padding: 20px;
        }

        .sec6-1 {
                width: 100%;
                margin: 0 auto;
        }

        .sec6-text-2 {
                padding: 10px 0;
        }

        .sec6-text-2 h3 {
                padding: 5px 0;
        }

        .sec6-img img {
                /* width: 100%; */
        }

        .sec7 {
                padding: 20px 0;
        }

        .sec7-text {
                width: 100%;
        }

        .sec7-text-1 {
                text-align: center;
                line-height: 70px;
        }

        .sec8 {
                padding: 20px 0;
        }

        .sec8-text-1 {
                padding: 20px 0;
                width: 100%;
        }

        .sec8-text-1 h2 {
                line-height: 60px;
        }

        .box {
                margin: 20px 0;
        }

        .sec9 {
                padding: 20px 0;
        }

        .sec9-input {
                width: 100%;
        }

        .sec9-input h2 {
                font-size: 70px;
                padding-bottom: 10px;
        }

        .sec9-btn input {
                margin: 30px 0;
        }

        .footer {
                padding: 40px 0;
        }

        .footer-text-1 h2 {
                /* text-align: center; */
        }

        .footer-text-2 h3 {
                /* text-align: center; */
        }
}

@media (min-width: 768px) {
        .container {
                width: 720px;
        }

        .header-text h2 {
                line-height: 80px;
        }

        .menu li {
                padding: 40px 30px;
        }

        .sec4-text h2 {
                font-size: 70px;
        }

        .sec7-text-1 h2 {
                font-size: 60px;
        }

        .sec8-text-1 h2 {
                font-size: 60px;
        }

        textarea {
                /* rows: 50px; */
        }

}


@media (min-width: 992px) {
        .container {
                width: 960px;
        }

        .col40 {
                width: 40%;
        }

        .col60 {
                width: 55%;
        }

        .col30 {
                width: 30%;
        }

        .col70 {
                width: 65%;
        }

        .col30 {
                width: 30%;
        }

        .col20 {
                width: 100%;
        }

        .col80 {
                width: 100%;
        }

        .col25 {
                width: 25%;
        }

        .header-text {
                width: 90%;
                text-align: left;
        }

        .header-text h2 {
                line-height: 60px;
                font-size: 60px;
        }

        .menu li {
                padding: 40px 30px;
        }

        .sec4 {
                padding: 30px 0;
        }

        .sec4-text {
                width: 55%;
        }

        .sec6-text-1 h2 {
                font-size: 43px;
        }

        .sec6-text-2 {
                padding: 10px 0;
        }

        .sec6-text-2 p {
                font-size: 14px;
        }

        .sec7-textone {
                padding: 35px 0;
        }

        .sec5-img-1 img {
                height: 605px;
        }

        textarea {
                height: 173px;
        }

        .footer-text-1 h2 {
                text-align: center;
        }

        .footer-text-2 h3 {
                text-align: center;
        }
}

@media (min-width: 1200px) {
        .container {
                width: 1140px;
        }

        .col40 {
                width: 40%;
        }

        .col60 {
                width: 60%;
        }

        .col30 {
                width: 30%;
        }

        .col70 {
                width: 70%;
        }

        .col30 {
                width: 30%;
        }

        .col20 {
                width: 20%;
        }

        .col80 {
                width: 80%;
        }

        .col25 {
                width: 25%;
        }

        .header-text {
                width: 90%;
                text-align: left;
        }

        .header-text h2 {
                font-size: 70px;
                padding: 10px 0;
                line-height: normal;
        }

        .header-text p {
                font-size: 15px;
                padding: 10px 0;
        }

        .header-btn {
                padding: 20px 0;
        }

        .menu li {
                padding: 40px 30px;
        }

        .sec2-text {
                width: 30%;
        }

        .sec3 {
                padding: 100px 0;
        }

        .sec4 {
                padding: 100px 0;
        }

        .sec4-text {
                width: 55%;
        }

        /* .sec5-img-2 img {
                width: 100%;
        } */

        .sec5-img-2 {
                width: 60%;
        }

        .sec6-1 {
                width: 80%;
        }

        .sec6-text-1 h2 {
                font-size: 50px;
        }

        .sec6-img img {
                width: 100%;
        }

        .sec7-text {
                width: 90%;
        }

        .sec7-textone {
                padding: 50px 0;

        }

        .sec7-text-1 h2 {
                font-size: 75px;
        }

        .sec9-input {
                width: 90%;
        }

        .sec9-input h2 {
                /* font-size: 70px; */
                padding-bottom: 50px;
        }

        .sec9-btn input {
                margin: 60px 0;
        }

        textarea {
                height: 270px;
        }

        .footer-text-2 h3 {
                text-align: left;
        }

        /* .sec8 {
                padding: 80px 0;
        }

        .sec8-text-1 {
                padding: 70px 0;
        }

        .header-main {
                padding: 50px 0;
        }

        .header-text {
                width: 90%;
        }

        .header-text h2 {
                font-size: 70px;
                padding: 10px 0;

        }

        .sec4 {
                padding: 20px 0;
        }

        .sec4-text h2 {
                padding: 20px 0;
        }

        .sec4-text h2 {
                font-size: 80px;
                padding: 10px 0;
        }

        .sec6 {
                padding: 80px 0;
        }

        .sec6-text-2 {
                padding: 20px 0;
        }

        .sec6-text-2 h3 {
                padding: 10px 0;
        }

        .sec7 {
                padding: 80px 0;
        }

        .sec7-text {
                width: 90%;
        }

        .sec8-text-1 {
                width: 50%;
        }

        .sec9 {
                padding: 50px 0;
        }

        .sec9-input {
                width: 90%;
        }

        .sec9-input h2 {
                font-size: 70px;
                padding-bottom: 50px;
        }

        .sec9-btn input {
                margin: 60px 0;
        }

        .footer {
                padding: 100px 0;
        }

        .footer-text-1 h2 {
                font-size: 50px;
        }

        .footer-text-2 h3 {
                font-size: 40px;
        } */
}




@media(max-width:768px) {
        .hamburger {
                display: block;
        }

        .menu {
                position: fixed;
                left: -100%;
                top: 70px;
                gap: 0;
                flex-direction: column;
                background-color: black;
                width: 100%;
                text-align: center;
                transition: 0.3s;

        }

        .menu li {
                padding: 10px;
        }

        .menu li a {
                /* margin: 16px 0; */
                color: aliceblue;

        }

        .menu.active {
                left: 0;
        }
}